/* CSS Entry Point */

// Turn on freq used libraries
@import 'normalize-css/normalize';
@import 'font-awesome/scss/font-awesome';





// VARIABLES -- START


$LightGreen: #1EA076;
$Moment: #61B2A7;
$LinkedIn: #0077B5;
$GitHub: #800080;
$GMail: #CF0000;
$TIY: #233746;
$UF: #0C259F;
$Socius: #006790;
$Alligator: #231F20;


// VARIABLES -- END





////////////////////////////////////////////////////////////////////////////////////////////////////





// GLOBAL ELEMENTS -- START


* {

}

a {
	color: #000000;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}


// GLOBAL ELEMENTS -- END





////////////////////////////////////////////////////////////////////////////////////////////////////





// TOP NAV -- START


.top-nav {
	width: 100%;
	height: 100px;
	background: $Moment;
	display: flex;
	justify-content: space-between;
	align-items: center;
	li {
		display: inline-block;
		color: #ffffff;
		font-family: 'Raleway', sans-serif;
		font-size: 30px;
		margin: auto 15px;
		&.my-name {
			font-weight: bold;
		}
		&:hover {
			color: #0D4C91;
		}
	}
}


// TOP NAV -- END





////////////////////////////////////////////////////////////////////////////////////////////////////





// BOTTOM NAV -- START


.bottom-nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 150px;
	background: $Moment;
	.contact-info {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
		font-family: 'Raleway', sans-serif;
		font-size: 50px;
	}
	.contact-icons {
		display: flex;
		justify-content: center;
		align-items: center;
		.icons-ul {
			.icons-li {
				color: #ffffff;
				display: inline-block;
				font-size: 50px;
				margin: 25px;
				&.right-icon {
					margin-right: 0;
				}
				.fa-linkedin {
					border: 8px solid #ffffff;
					border-radius: 100%;
					padding: 12px 15.58px;
					&:hover {
						background: #ffffff;
						border: 10px solid $LinkedIn;
						color: $LinkedIn;
					}
				}
				.fa-github {
					border: 8px solid #ffffff;
					border-radius: 100%;
					padding: 12px 15.58px;
					&:hover {
						background: #ffffff;
						border: 10px solid $GitHub;
						color: $GitHub;
					}
				}
				.fa-envelope {
					border: 8px solid #ffffff;
					border-radius: 100%;
					padding: 12px;
					&:hover {
						background: #ffffff;
						border: 10px solid $GMail;
						color: $GMail;
					}
				}
			}
		}
	}
}


// BOTTOM NAV -- END





////////////////////////////////////////////////////////////////////////////////////////////////////





// HOME -- START


.home {
	min-height: 500px;
	margin: 25px auto auto 25px;
}


// HOME -- END





////////////////////////////////////////////////////////////////////////////////////////////////////





// RESUME -- START


.resume {
	min-height: 500px;
	.education {
		margin: 50px auto 100px auto;
		.education-header {
			color: $Moment;
			font-family: 'Waiting for the Sunrise', cursive;
			font-size: 50px;
			text-align: center;
		}
		.education-sub {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 25px;
			.edu-tiy {
				width: 45%;
				height: 525px;
				color: $TIY;
				font-size: 24px;
				border-right: 1px solid $Moment;
				.image {
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 0px auto 20px auto;
				}
				.location-and-time {
					display: flex;
					justify-content: space-around;
					align-items: center;
					margin-bottom: 20px;
				}
				.course-of-study {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
			.edu-uf {
				width: 45%;
				height: 525px;
				color: $UF;
				font-size: 24px;
				border-left: 1px solid $Moment;
				.image {
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 162px auto 143px auto;
				}
				.location-and-time {
					display: flex;
					justify-content: space-around;
					align-items: center;
					margin-bottom: 20px;
				}
				.course-of-study {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
	.experience {
		margin: 100px auto 100px auto;
		.experience-header {
			color: $Moment;
			font-family: 'Waiting for the Sunrise', cursive;
			font-size: 50px;
			text-align: center;
		}
		.experience-sub {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 25px;
			.exp-socius {
				width: 45%;
				height: 525px;
				color: $Socius;
				font-size: 24px;
				padding-right: 15px;
				border-right: 1px solid $Moment;
				.image {
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 15px auto 20px auto;
				}
				.location-and-time {
					display: flex;
					justify-content: space-around;
					align-items: center;
					margin-bottom: 20px;
				}
				.position {
					display: flex;
					justify-content: center;
					align-items: center;
					font-weight: italic;
					margin-bottom: 20px;
				}
				.description {
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 16px;
					text-align: center;
				}
			}
			.exp-alligator {
				width: 45%;
				height: 525px;
				color: $Alligator;
				font-size: 24px;
				padding-left: 15px;
				border-left: 1px solid $Moment;
				.image {
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 15px auto 62px auto;
				}
				.location-and-time {
					display: flex;
					justify-content: space-around;
					align-items: center;
					margin-bottom: 20px;
				}
				.position {
					display: flex;
					justify-content: center;
					align-items: center;
					font-weight: italic;
					margin-bottom: 20px;
				}
				.description {
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 16px;
					text-align: center;
				}
			}
		}
	}
	.skills {
		font-family: 'Waiting for the Sunrise', cursive;
		font-size: 30px;
		color: $Moment;
		text-align: center;
		margin: 100px auto 100px auto;
		.skills-header {
			color: $Moment;
			font-family: 'Waiting for the Sunrise', cursive;
			font-size: 50px;
			text-align: center;
		}
		.front-end-development {
			margin: 30px auto 60px auto;
			.dev-ul {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				.dev-li {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 25%;
					height: 250px;
				}
			}
		}
		.front-end-design {
			margin: 60px auto;
			.des-ul {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				.des-li {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 20%;
					height: 250px;
				}
			}
		}
		.javascript {
			margin: 60px auto;
			.js-ul {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				.js-li {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 20%;
					height: 250px;
				}
			}
		}
		.javascript-libraries {
			margin: 60px auto;
			.jsl-ul {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				.jsl-li {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 25%;
					height: 250px;
				}
			}
		}
		.other-skills {
			margin: 60px auto;
			.other-ul {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				.other-li {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 25%;
					height: 250px;
				}
			}
		}
	}
}


// RESUME -- END





////////////////////////////////////////////////////////////////////////////////////////////////////





// PROJECTS -- START


.projects {
	min-height: 500px;
	.project {
		&.hockey-doctor {
		}
		&.vote-atl {
		}
		&.contact-list {
		}
		&.final-four {
		}
		&.ye-olde {
		}
		&.etsy-whiskey {
		}
		&.dynamic-time {
		}
		&.js-calculator {
		}
	}
}


// PROJECTS -- END





////////////////////////////////////////////////////////////////////////////////////////////////////





// WHAT'S NEXT -- START


.whats-next {
	min-height: 500px;
	.top-text {
		width: 80%;
		margin: 50px auto;
		color: $Moment;
		font-size: 30px;
		text-align: center;
	}
	.now-and-then {
		font-family: 'Waiting for the Sunrise', cursive;
		font-size: 25px;
		text-align: center;
		.learning-now {
			width: 70%;
			border-bottom: 4px solid $Moment;
			padding-bottom: 40px;
			margin: 50px auto 40px auto;
			.learning-now-ul {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				.learning-now-li {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 33%;
					height: 250px;
				}
			}
		}
		.learning-future {
			width: 70%;
			margin: 50px auto;
			.learning-future-ul {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				.learning-future-li {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 33%;
					height: 250px;
				}
			}
		}
	}
}


// WHAT'S NEXT -- END





////////////////////////////////////////////////////////////////////////////////////////////////////





// ABOUT ME -- START


.about-me {
	min-height: 500px;
	background: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}


// ABOUT ME -- END





////////////////////////////////////////////////////////////////////////////////////////////////////





// LINE CHART -- START


.line {
	height: 500px;
	width: 500px;
	margin: 100px auto;
}


// LINE CHART -- END





////////////////////////////////////////////////////////////////////////////////////////////////////





// BAR CHART -- START


.bar {
	height: 500px;
	width: 500px;
	margin: 100px auto;
}


// BAR CHART -- END





////////////////////////////////////////////////////////////////////////////////////////////////////





// POLAR CHART -- START


.polar {
	height: 500px;
	width: 500px;
	margin: 100px auto;
}


// POLAR CHART -- END





////////////////////////////////////////////////////////////////////////////////////////////////////





// RADAR CHART -- START


.radar {
	height: 500px;
	width: 500px;
	margin: 100px auto;
}


// RADAR CHART -- END





////////////////////////////////////////////////////////////////////////////////////////////////////





// PIE CHART -- START


.pie {
	height: 500px;
	width: 500px;
	margin: 100px auto;
}


// PIE CHART -- END





////////////////////////////////////////////////////////////////////////////////////////////////////





// DONUT CHART -- START


.doughnut {
	height: 500px;
	width: 500px;
	margin: 100px auto;
}


// DONUT CHART -- END